<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,500,700" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.min.js"></script>

  </head>
  <body>
    
    <h2>Star Chart</h2>
    <div id="chart"></div>


    <h2>Parallel Coordinates</h2>
    <svg id="parallel"></svg>
    
	  <script type="text/javascript" src="/javascripts/d3-starPlot.js"></script>
    <script type="text/javascript" src="/javascripts/d3-parallelCoordinate.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

    <link rel='stylesheet' href='/stylesheets/style_star.css' />
    <link rel='stylesheet' href='/stylesheets/style_parallel_coordinates.css' />
    
    



  </body>
</html>
